body {
    background: #e7f38f;
    font-family: Arial;
}

h1 {
    color: #333;
}

.card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    animation: fadeIn 2s ease-in-out;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.profile-pic:hover {
    transform: scale(1.05);
    transition: 0.4s;
}